{% extends "layouts/base.html" %}

{% block title %} Database{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}


        <!-- The animated volt logo
        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/brand/light.svg" height="60" alt="Volt logo">
        </div>
        -->

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item"><a href="index"><span class="fas fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a href="#">flowdash-bio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Database</li>
                    </ol>
                </nav>
                <h2 class="h4">Database</h2>
                <p class="mb-0">Enter workflows into the database.</p>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
                </div>
            </div>
        </div>

        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col col-md-6 col-lg-3 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                        <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm icon-gray">
                                <span class="fas fa-cog"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                            <span class="dropdown-item font-weight-bold text-dark">Show</span>
                            <a class="dropdown-item d-flex font-weight-bold" href="#">10 <span class="icon icon-small ml-auto"><span class="fas fa-check"></span></span></a>
                            <a class="dropdown-item font-weight-bold" href="#">20</a>
                            <a class="dropdown-item font-weight-bold" href="#">30</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex col-3">
            {% import "bootstrap/wtf.html" as wtf %}

            <form action="" method="post" class="form needs-validation" role="form" novalidate>

              {{ form.hidden_tag() }}
              <!-- Item -->
              <div class="form-group mb-4">
                  <label for="workflow_form_node">{{form.node.label}}</label>
                  <div class="input-group">
                      <span class="input-group-text" id="workflow_form_node" name="node"></span>
                      {{ form.node(placeholder="Node", class="form-control", value="cedar1") }}
                  </div>
              </div>
              <!-- Item -->
              <div class="form-group mb-4">
                  <label for="workflow_form_total_jobs">{{form.total_jobs.label}}</label>
                  <div class="input-group">
                      <span class="input-group-text" id="workflow_form_total_jobs" name="total_jobs"></span>
                        {{ form.total_jobs(class='form-control', type='number', placeholder='Total Jobs', value=10) }}
                  </div>
              </div>
              <!-- Item -->
              <div class="form-group mb-4">
                  <label for="workflow_form_completed_jobs">{{form.completed_jobs.label}}</label>
                  <div class="input-group">
                      <span class="input-group-text" id="workflow_form_completed_jobs" name="completed_jobs"></span>
                        {{ form.completed_jobs(class='form-control', type='number', placeholder='Completed Jobs', value=0) }}
                  </div>
              </div>
              <!-- Item -->
              <div class="form-group mb-4">
                  <label for="workflow_form_running_jobs">{{form.running_jobs.label}}</label>
                  <div class="input-group">
                      <span class="input-group-text" id="workflow_form_running_jobs" name="running_jobs"></span>
                        {{ form.running_jobs(class='form-control', type='number', placeholder='Running Jobs', value=0) }}
                  </div>
              </div>
              <!-- Item -->
              <div class="form-group mb-4">
                  <label for="workflow_form_failed_jobs">{{form.failed_jobs.label}}</label>
                  <div class="input-group">
                      <span class="input-group-text" id="workflow_failed_jobs" name="failed_jobs"></span>
                        {{ form.failed_jobs(class='form-control', type='number', placeholder='Failed Jobs', value=0) }}
                  </div>
              </div>
              <input type=submit class='btn btn-info btn-block mt-3'>
            </form>
        </div>
        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
