{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <!-- The animated volt logo
        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/brand/light.svg" height="60" alt="Volt logo">
        </div>
        -->

        <div class="row justify-content-md-center">
            <div class="col-12 mb-4">
                <div class="card bg-white-alt shadow-sm">
                    <div class="card-header d-flex flex-row align-items-center flex-0">
                        <div class="d-block">
                            <div class="h5 font-weight-normal mb-2">Workflow History</div>
                            <h2 class="h3">{{last_month_jobs}}</h2>
                            <div class="small mt-2">
														<!-- Monthly Data Header -->
														{% if workflow_time_chart == "Month" %}
                              <span class="font-weight-bold mr-2">This Month</span>
                              {% if dash_data.month_delta == "Inf" or dash_data.month_delta | int >= 100 %}
                                <span class="fas fa-angle-up text-success"></span>
                                <span class="text-success font-weight-bold">{{ dash_data.month_delta }}%  </span>
                              {% else %}
                                <span class="fas fa-angle-down text-danger"></span>
                                <span class="text-danger font-weight-bold">{{ dash_data.month_delta }}%  </span>
														  {% endif %}
														<!-- Weekly Data Header -->
														{% elif workflow_time_chart == "Week" %}
                              <span class="font-weight-bold mr-2">This Week</span>
                              {% if dash_data.week_delta == "Inf" or dash_data.week_delta | int >= 100 %}
                                <span class="fas fa-angle-up text-success"></span>
                                <span class="text-success font-weight-bold">{{ dash_data.week_delta }}%  </span>
                              {% else %}
                                <span class="fas fa-angle-down text-danger"></span>
                                <span class="text-danger font-weight-bold">{{ data_data.week_delta }}%  </span>
														  {% endif %}

														{% endif %}
                            </div>
                        </div>
                          <div class="d-flex ml-auto">
                            <form action="" method="post" role="form">
                              {{ form.hidden_tag() }}
                              <input type="submit" class="btn btn-secondary text-dark btn-sm mr-2" id="button-graph-week" name="time" value="Week">
                              <input type="submit" class="btn btn-primary btn-sm mr-3" id="button-graph-month" name="time" value="Month">
                            </form>
                          </div>
                    </div>
                    <div class="card-body p-2">
                        {% if workflow_time_chart == "Week" %}
                          <div class="ct-chart-jobs-week ct-double-octave ct-series-a"></div>
                        {% elif workflow_time_chart == "Month" %}
                          <div class="ct-chart-jobs-month ct-double-octave ct-series-a"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span class="fas fa-chart-line"></span></div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h5">Tracked Jobs</h2>
                                    <h3 class="mb-1">{{ dash_data.tracked_jobs_fmt }}</h3>
                                </div>
                                <small>{{dash_data.workflow_date_range}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="ct-chart-system-share ct-series-a">
                                </div>

                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <h2 class="h5 mb-3">System Share</h2>
                                {% for system,percent in dash_data.system_share.items() %}
				<h6 class="font-weight-normal text-gray"><span class="icon w-20 icon-xs icon-secondary mr-1"><span class="fas fa-desktop"></span></span> {{ system }} <a href="#" class="h6">{{percent}}%</a></h6>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

  document.addEventListener("DOMContentLoaded", function(event) {

    if(document.querySelector('.ct-chart-system-share')) {
        var system_share = {{dash_data.system_share | tojson}}
        var data = {
            series: Object.values(system_share)
          };

          var sum = function(a, b) { return a + b };

          new Chartist.Pie('.ct-chart-system-share', data, {
            labelInterpolationFnc: function(value) {
              return Math.round(value / data.series.reduce(sum) * 100) + '%';
            },
            low: 0,
            high: 8,
            donut: true,
            donutWidth: 20,
            donutSolid: true,
            fullWidth: false,
            showLabel: false,
            plugins: [
              Chartist.plugins.tooltip()
            ],
        });
    }

  if(d.querySelector('.ct-chart-jobs-week')) {
        // Dates objects are initially unordered
        const daily_jobs_unordered = {{dash_data.daily_jobs | tojson}};
        const daily_jobs = {}

        // Sort the date keys in ascending order
        Object.keys(daily_jobs_unordered).sort(function(a, b) {
          return Date.parse(a)
               - Date.parse(b);
          }).forEach(function(key) {
            daily_jobs[key] = daily_jobs_unordered[key];
          })

        new Chartist.Line('.ct-chart-jobs-week',
          {
            labels: Object.keys(daily_jobs),
            series: [
                 Object.values(daily_jobs)
            ]
          },
          {
            low: 0,
            showArea: true,
            fullWidth: true,
            chartPadding: 50,
            plugins: [
              Chartist.plugins.tooltip(),
              Chartist.plugins.ctAxisTitle({
                axisX: {
                  axisTitle: 'Date',
                  axisClass: 'ct-axis-title',
                  offset: {
                    x: 0,
                    y: 50
                  },
                  textAnchor: 'middle'
                },
                axisY: {
                  axisTitle: 'Jobs',
                  offset: {
                    x: 0,
                    y: 25
                  },
                  textAnchor: 'middle',
                  flipTitle: true
                }
              })
            ]
          }
        );
  }

  if(d.querySelector('.ct-chart-jobs-month')) {
        // Dates objects are initially unordered
        const daily_jobs_unordered = {{dash_data.monthly_jobs | tojson}};
        const daily_jobs = {}
        const num_months = 6

        // Sort the date keys in ascending order
        Object.keys(daily_jobs_unordered).sort(function(a, b) {
          console.log(Date.parse(a));
          count = 0;
          return Date.parse(a)
               - Date.parse(b);
          }).forEach(function(key) {
            // Only use the last 6 months
            if (count >= (12 - num_months)){
              daily_jobs[key] = daily_jobs_unordered[key];
            }
            count = count + 1;
          })

        new Chartist.Line('.ct-chart-jobs-month',
          {
            labels: Object.keys(daily_jobs),
            series: [
                 Object.values(daily_jobs)
            ]
          },
          {
            low: 0,
            showArea: true,
            fullWidth: true,
            chartPadding: 50,
            plugins: [
              Chartist.plugins.tooltip(),
              Chartist.plugins.ctAxisTitle({
                axisX: {
                  axisTitle: 'Date',
                  axisClass: 'ct-axis-title',
                  offset: {
                    x: 0,
                    y: 50
                  },
                  textAnchor: 'middle'
                },
                axisY: {
                  axisTitle: 'Jobs',
                  offset: {
                    x: 0,
                    y: 25
                  },
                  textAnchor: 'middle',
                  flipTitle: true
                }
              })
            ]
          }
        );
  }


});
</script>

{% endblock javascripts %}
