{% extends "layouts/base.html" %}

{% block title %} Workflows {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/brand/light.svg" height="60" alt="Volt logo">
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a href="#">Volt</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Workflows</li>
                    </ol>
                </nav>
                <h2 class="h4">All Workflows</h2>
                <p class="mb-0">Bioinformatic Workflow Dashboard.</p>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
                </div>
            </div>
        </div>

        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col col-md-6 col-lg-3 col-xl-4">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                        <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm icon-gray">
                                <span class="fas fa-cog"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                            <span class="dropdown-item font-weight-bold text-dark">Show</span>
                            <a class="dropdown-item d-flex font-weight-bold" href="#">10 <span class="icon icon-small ml-auto"><span class="fas fa-check"></span></span></a>
                            <a class="dropdown-item font-weight-bold" href="#">20</a>
                            <a class="dropdown-item font-weight-bold" href="#">30</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>System</th>
                        <th>Node</th>
                        <th>Status</th>
                        <th>Progress</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Total Jobs</th>
                        <th>Completed Jobs</th>
                        <th>Running Jobs</th>
                        <th>Failed Jobs</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    <tr>
                        <td>
                            <a href="../report.html" class="font-weight-bold">
                                1
                            </a>
                        </td>
                        <td><span class="font-weight-normal">Infoserv</span></td>
                        <td>
                            <span class="font-weight-normal">Info113</span>
                        </td>
                        <td><span class="font-weight-bold text-warning">Running</span></td>
                        <td class="border-0">
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-xl-2 px-0">
                                    <div class="small font-weight-bold">85%</div>
                                </div>
                                <div class="col-12 col-xl-10 px-0 px-xl-1">
                                    <div class="progress progress-lg mb-0">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><span class="font-weight-normal">1 May 2020</span></td>
                        <td><span class="font-weight-normal">-</span></td>
                        <td><span class="font-weight-bold">65</span></td>
                        <td><span class="font-weight-bold text-success">55</span></td>
                        <td><span class="font-weight-bold text-warning">3</span></td>
                        <td><span class="font-weight-bold text-danger">0</span></td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                    </span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="../report.html"><span class="fas fa-eye mr-2"></span>View Details</a>
                                    <a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a>
                                    <a class="dropdown-item text-danger" href="#"><span class="fas fa-trash-alt mr-2"></span>Remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Item -->
                    <tr>
                        <td>
                            <a href="../report.html" class="font-weight-bold">
                                2
                            </a>
                        </td>
                        <td><span class="font-weight-normal">Compute-Canada</span></td>
                        <td>
                            <span class="font-weight-normal">Cedar866</span>
                        </td>
                        <td><span class="font-weight-bold text-success">Complete</span></td>
                        <td class="border-0">
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-xl-2 px-0">
                                    <div class="small font-weight-bold">100%</div>
                                </div>
                                <div class="col-12 col-xl-10 px-0 px-xl-1">
                                    <div class="progress progress-lg mb-0">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><span class="font-weight-normal">1 Apr 2020</span></td>
                        <td><span class="font-weight-normal">1 May 2020</span></td>
                        <td><span class="font-weight-bold">1860</span></td>
                        <td><span class="font-weight-bold text-success">1860</span></td>
                        <td><span class="font-weight-bold text-warning">0</span></td>
                        <td><span class="font-weight-bold text-danger">0</span></td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                    </span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="../report.html"><span class="fas fa-eye mr-2"></span>View Details</a>
                                    <a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a>
                                    <a class="dropdown-item text-danger" href="#"><span class="fas fa-trash-alt mr-2"></span>Remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Item -->
                    <tr>
                        <td>
                            <a href="../report.html" class="font-weight-bold">
                                3
                            </a>
                        </td>
                        <td><span class="font-weight-normal">Github Actions</span></td>
                        <td>
                            <span class="font-weight-normal">fva1657</span>
                        </td>
                        <td><span class="font-weight-bold text-danger">Fail</span></td>
                        <td class="border-0">
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-xl-2 px-0">
                                    <div class="small font-weight-bold">83%</div>
                                </div>
                                <div class="col-12 col-xl-10 px-0 px-xl-1">
                                    <div class="progress progress-lg mb-0">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><span class="font-weight-normal">1 Apr 2020</span></td>
                        <td><span class="font-weight-normal">-</span></td>
                        <td><span class="font-weight-bold">6</span></td>
                        <td><span class="font-weight-bold text-success">5</span></td>
                        <td><span class="font-weight-bold text-warning">0</span></td>
                        <td><span class="font-weight-bold text-danger">1</span></td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                    </span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="../report.html"><span class="fas fa-eye mr-2"></span>View Details</a>
                                    <a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a>
                                    <a class="dropdown-item text-danger" href="#"><span class="fas fa-trash-alt mr-2"></span>Remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                        <li class="page-item">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <div class="font-weight-bold small">Showing <b>3</b> out of <b>3</b> entries</div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
