{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} bg-soft {% endblock body_class %}

{% block content %}

    <main>

        <!-- Section -->
        <section class="vh-lg-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">

                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    <a target="_blank"
                                       href="https://appseed.us/admin-dashboards/flask-dashboard-volt">flowdash-bio</a> - Sign UP
                                </h1>
                                <br />
                                <p>
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                        Add your credentials
                                    {% endif %}
                                </p>
                            </div>
                            <!-- Form -->
                            <form method="post" action="" class="needs-validation" novalidate>

                                {{ form.hidden_tag() }}

                                <!-- Item -->
                                <div class="form-group mb-4">
                                    <label for="register_form_username">{{form.username.label}}</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="register_form_username" name="username"><span class="fas fa-user-shield"></span></span>
                                        {{ form.username(placeholder="Username", class="form-control") }}
                                    </div>
                                    {% for error in form.username.errors %}
                                      <span style="color: red;">{{error}}</span>
                                    {% endfor %}
                                </div>

                                <!-- Item -->
                                <div class="form-group mb-4">
                                    <label for="register_form_email">{{form.email.label}}</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="register_form_email" name="email"><span class="fas fa-envelope"></span></span>
                                        {{ form.email(placeholder="Email", class="input form-control", type="email") }}
                                    </div>
                                    {% for error in form.email.errors %}
                                      <span style="color: red;">{{error}}</span>
                                    {% endfor %}
                                </div>

                                <!-- Item -->
                                <div class="form-group mb-4">
                                    <label for="register_form_password">{{form.password.label}}</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="register_form_password" name="password"><span class="fas fa-unlock-alt"></span></span>
                                        {{ form.password(placeholder="Password", class="form-control", type="password") }}
                                    </div>
                                    {% for error in form.password.errors %}
                                    <span style="color: red;">[{{error}}]</span>
                                    {% endfor %}
                                </div>

                                <!-- Item -->
                                <div class="form-group mb-4">
                                    <label for="register_form_password2">{{form.password2.label}}</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="register_form_password2" name="password2"><span class="fas fa-unlock-alt"></span></span>
                                        {{ form.password2(placeholder="Password", class="form-control", type="password") }}
                                    </div>
                                    {% for error in form.password2.errors %}
                                    <span style="color: red;">{{error}}</span>
                                    {% endfor %}
                                </div>

                                <!-- Item -->
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <a href="{{ url_for('base_blueprint.terms') }} " >{{ form.agree_terms }} {{ form.agree_terms.label }}</a>
                                    {% for error in form.agree_terms.errors %}
                                    <span style="color: red;">{{error}}</span>
                                    {% endfor %}
                                    <div class="form-check">
                                        <a href="{{ url_for('base_blueprint.login') }}" class="small text-right">Login</a>
                                    </div>
                                </div>
                                <button type="submit" name="register" class="btn btn-block btn-primary">Register</button>
                            </form>
                            <!-- End Form -->

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    &copy; <a  href="https://themesberg.com" target="_blank">Themesberg</a>
                                    - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
